<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= tabTitle %>
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="icon" href="./logo.ico" width="2rem" type="image/x-icon">

  <link href="cld-video-player.min.css" rel="stylesheet">

  <!-- <link href="https://unpkg.com/cloudinary-video-player@1.9.0/dist/cld-video-player.min.css" rel="stylesheet"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/jquery/jquery.js"></script>

  <style>
    html {
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
      padding: 0;
      background-color: #212529 !important;
      font-family: 'Josefin Sans', sans-serif !important;
    }

    #seekFwdImg:active,
    #seekBackImg:active,
    #syncImg:active,
    #muteToggleImg:active,
    #playToggleImg:active,
    #home:active,
    #fscreenImg:active {
      transform: scale(0.9);
    }

  </style>
  <link rel="stylesheet" href="css/mview.css">
</head>

<body>

  <div class="container-fluid p-0">
    <div class="row" style="background-color:#212529; height:2.8rem">
      <div class="col-1" style="position:relative">
          <img src="logo2.png" alt="logo-home" width="60" style="cursor:pointer; position:absolute; right:0" id="home" class="mt-1">
      </div>
      <div class="col-10 text-center" style="color:white;font-size:1.7rem">
        <%=title%> <img src="<%=matchOwnerIcon%>" width="25"> <span style="color:red; font-size:1rem">
            <%=matchOwner%>
          </span>
      </div>
      <div class="col-1 material-icons"
        style="font-size:48px;color: rgb(252, 215, 3); text-decoration: none; cursor:move" id="fscreenImg">fullscreen
      </div>
    </div>
  </div>
