<div class="col" style="padding-right: 1px;">
  <a href="#1" style="text-decoration:none; color:white">
    <% console.log(match);%>
      <%-cloudinary.image(match.thumbnail,{ style: "width: 100%;" })%>
        <div class="caption" style="text-align: center; background: rgb(11, 11, 11);">
          <p>
            <%= match.title %>
          </p>
        </div>
  </a>
</div>
