<h5>Uploaded Videos</h5>
  <div class = "playlist">
    <!--Video Thumbnail------------------------------------------------------->
    <div class = "videotn">
      <img src="thumbnail.png" alt="" width="100%" > 
    </div>
    <!--Video Details------------------------------------------------------->
    <div class = "viddetails">
      <!--Video Name and Date------------------------------------------------------->
      <div class = "row">
        <p>Valorant match-1 </p>
        <br>
        <p>( 4:18:24 PM 13/5/22) </p>
      </div>
      <!--Contributors------------------------------------------------------->
      <div class = "row">
        <div class="contrigrp">
          <button class="contribtn"><a href="#"><img src="profile.png" alt="profile img" width="30" > FarhanLION</a></button>
          <button class="contribtn"><a href="#"><img src="profile.png" alt="profile img" width="30" > Julie Song</a></button>
          <button class="contribtn"><a href="#"><img src="profile.png" alt="profile img" width="30" > Mavis</a></button>
        </div>
      </div>
      <!--Video Descriptions------------------------------------------------------->
      <div class = "row">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
    </div>
  </div>