<div class="col">
  <a href="/mview_display?match_id=<%=match.id%>" style="text-decoration:none; color:white">
    <%-cloudinary.image(match.thumbnail,{ style: "width: 100%;" })%>
      <div class="caption" style="text-align: center; background: rgb(11, 11, 11);">
        <p>
          <%= match.title %>
        </p>
      </div>
  </a>
</div>
