<hr>
<footer style="background-color: #212529">
    <p class="text-center text-muted">&copy; Multi</p>
</footer>
<script src="js/bootstrap.bundle.min.js"></script>

<!-- <script src="https://unpkg.com/cloudinary-video-player@1.9.0/dist/cld-video-player.min.js" 
type="text/javascript"></script> -->

</body>

</html>