<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cloudinary Tutorial</title>
  </head>
  <body>
    <div class="card">
      <img id="img-preview" />
      <label class="file-upload-container" for="file-upload">
        <input id="file-upload" type="file" style="display:none;">
        Select an Image
      </label>
    </div>
    <!-- Scripts -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <!-- link to external javascript -->
    <script src="script/app.js"></script>

</body>
</html>