body {
  background-color: #212529;
}

.card {
  width: 300px;
  height: 500px;
}

#frame2 {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-top: 0px !important;
}

#describe {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: grey;
  font-size: 30px;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

@keyframes showcontrols {
  from {
    left: -384px;
  }
  to {
    left: -265px;
  }
}
@keyframes hidecontrols {
  from {
    left: -265px;
  }
  to {
    left: -384px;
  }
}
.universal-controls {
  position: fixed;
  left: -384px;
  opacity: 100%;
  background-color: #FFDF2E;
  width: 400px;
  height: 300px;
  border-radius: 20%;
  border: 5px solid;
  border-color: white;
  z-index: 3;
  animation-name: hidecontrols;
  animation-duration: 0.3s;
}

.universal-controls .fa {
  font-size: 4em;
  color: black;
  position: relative;
}

.universal-controls .fa.fa-pause-circle {
  top: 10%;
  left: 72%;
  font-size: 53px;
}

.universal-controls .fa.fa-play-circle {
  top: 40%;
  left: 72%;
  font-size: 53px;
}

.universal-controls .fa.fa-stop-circle {
  top: 70%;
  left: 48%;
  font-size: 53px;
}

.universal-controls .fa.fa-angle-right {
  top: 40%;
  left: 65%;
  color: yellow;
  font-size: 48px;
}

.universal-controls:hover {
  left: -265px;
  opacity: 90%;
  animation-name: showcontrols;
  animation-duration: 0.3s;
}

.universal-controls:hover .fa {
  visibility: visible;
}

.myfile {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  color: grey;
  margin-left: 33%;
}

.frame {
  border: 8px solid;
  border-color: #404040;
  width: 100%;
  border-left: transparent;
  border-right: transparent;
}

.cloud {
  margin-left: 33%;
  margin-top: 0;
}

#frame2 {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#uploadbox {
  display: flex;
  flex-direction: row;
}

#uploadbox2 {
  display: flex;
  flex-direction: row;
}

#submitbutton {
  margin: 5% 25%;
  font-size: 15pt;
  font-weight: bolder;
  width: 50%;
  border-radius: 30px;
}

#title {
  font-size: 15px;
  color: #D3D3D3;
  margin: 10px 20px;
}

#titlebox {
  margin: auto;
  width: 90%;
  border-radius: 20px;
  height: 50px;
  margin-left: 20px;
  border-color: grey;
}

#desc {
  font-size: 15px;
  color: #D3D3D3;
  margin: 10px 20px;
}

#descbox {
  font-size: 15px;
  color: black;
  width: 90%;
  border-radius: 20px;
  height: 100px;
  margin-left: 20px;
  background-color: #D3D3D3;
  border-color: grey;
}

#bar {
  margin: auto;
}

#box {
  background-color: #dadedf;
  width: 95%;
  height: 15em;
}

#upload {
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.progress-bar-holder {
  visibility: hidden;
  width: 95%;
  margin: auto;
  height: 4px;
  background-color: #999;
}

.progress_bar {
  height: 100%;
  background-color: #980000;
}

#play, #stop, #sync {
  width: 30%;
  height: 15%;
  padding: 10px;
  margin-left: 15px;
}

.cloudinary-fileupload {
  display: none;
}

.global-cloudinary-fileupload {
  display: none;
}

.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.players video {
  width: 100%;
}

.previewbox {
  width: 50%;
  min-width: 400px;
  max-width: 1000px;
  padding: 10px 5px 20px;
}

.matchinfo {
  width: 70%;
  margin: auto;
}

.playercontrols {
  display: flex;
  align-items: center;
  height: 3em;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}
.playercontrols i {
  color: #FFDF2E;
  font-size: 1.5em;
}
.playercontrols .skip-controls {
  width: 21%;
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
  align-self: center;
}
.playercontrols .sec-controls {
  display: flex;
  width: 5em;
  justify-content: space-between;
}

/**** Custom styles for noUiSlider ****/
.noUi-connect {
  background: #980000 !important;
}

.slider {
  border: 0px !important;
  height: 8px !important;
}

.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
  background: #D9D9D9 !important;
}

.noUi-handle {
  width: 20px !important;
  height: 20px !important;
  right: -9px !important;
  top: -7px !important;
  border-radius: 50% !important;
  box-shadow: none !important;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
  visibility: hidden !important;
}

.noUi-handle.noUi-active .noUi-tooltip {
  visibility: visible !important;
}

.noUi-handle:before, .noUi-handle:after {
  display: none !important;
}

#uploadform {
  font-family: "Josefin Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  height: 24em;
  justify-content: space-between;
  width: 50vw;
  margin: auto;
}
#uploadform #title {
  font-size: 1.5em;
}
#uploadform #titlebox {
  margin-bottom: 12px;
}
#uploadform #desc {
  font-size: 1.5em;
}
#uploadform #gametagSelection {
  width: 50%;
  margin: auto;
  height: 10%;
}

#submitbutton {
  background-color: #212529;
  color: #FFDF2E;
  border-color: #FFDF2E;
}
#submitbutton:hover {
  background-color: #FFDF2E;
  border-color: #FFDF2E;
  color: #212529;
}

/*# sourceMappingURL=upload.css.map */
