.playlist {
  display: flex;
}

.videobtn
  {
    margin-left: 10px!important;
    width: 25%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 100%;
      border-radius: 3px;
    }
  }
  .viddetails
  {
    width: 75%;
    padding: 1%;
  }

  a {
  color: #fff;
  }
  a:link {
    text-decoration: none;
    color: #fff;
  }
  a:visited {
    text-decoration: none;
    color: #fff;
  }


  a:hover {
    text-decoration: none;
    color: #fff;
  }


  a:active {
    text-decoration: none;
    color: #fff;}

  .contrigrp .contribtn {
  background-color: #212529;
  border: none;
  color: white;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

}

.contrigrp .contribtn:hover {
  background-color: grey;
}
