<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="css/upload.css">

</head>

<body>

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <%- include('../partials/navbar'); %>

    <div class="bg-dark">
      <!-- <div class="frame">
        <img class="slides" src="https://i.pinimg.com/originals/24/0e/e8/240ee8d89f60b2fd3f15ce179d6d87aa.png"
          style="width:100%; height:400px;">
        <img class="slides" src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/72/72GXOK6QZ44T1655402629948.jpg"
          style="width:100%; height:400px;">
        <img class="slides"
          src="https://i0.wp.com/www.thegeeklygrind.com/wp-content/uploads/2022/03/sliverbanner_38.jpg?fit=1240%2C400&ssl=1"
          style="width:100%; height:400px;">
        <img class="slides" src="https://pbs.twimg.com/media/EZ85e9hXYAAOQiS.jpg:large"
          style="width:100%; height:400px;">
      </div> -->
      <br>
      <br>
      <form>

        <div class=" d-flex justify-content-center bg-dark">
          <!-- first box -->

          <div id="box" class="border border-light border-5"
            style="width:900px; height: 500px; border-radius:20px ;background-color: #dadedf;" ondrop="drop(event)"
            ondragover="allowDrop(event)">
            <p id="describe">Upload the videos here </p>
            <div id="upload">

              <label class="uploader" for="uploadinput">
                <h2>Upload</h2>
                <input id="uploadinput" class=" cloudinary-fileupload" data-cloudinary-field="image"
                  data-form-data="{&quot;upload_preset&quot;:&quot;dnqtrhtb&quot;}"
                  data-url="https://api.cloudinary.com/v1_1/dvapwslkg/auto/upload" name="file" type="file">
              </label>
              <div class="progress_bar" style="height: 10px;background-color: red;"></div>
              <!-- //cloudinary.uploader.unsigned_image_upload_tag('image', 'dnqtrhtb' , { cloud_name: 'dvapwslkg' });%> -->
              <div class="progressbar" style="background-color:aqua"></div>


              <!-- <input id="uploadbutton1" type="file" class="myfile" name="myfile" accept=".MP4,.MOV,.WMV,.WEBM,.AVI">



              <input id="uploadbutton2" type="file" class="myfile" name="myfile" accept=".MP4,.MOV,.WMV,.WEBM,.AVI">

              <input id="uploadbutton3" type="file" class="myfile" name="myfile" accept=".MP4,.MOV,.WMV,.WEBM,.AVI">

              <input id="uploadbutton4" type="file" class="myfile" name="myfile" accept=".MP4,.MOV,.WMV,.WEBM,.AVI">

              <input id="uploadbutton5" type="file" class="myfile" name="myfile" accept=".MP4,.MOV,.WMV,.WEBM,.AVI"> -->


            </div>

          </div>
        </div>
        <!-- second box -->
        <div id="frame2" class="border border-light border-4" style="width:95%; height:1200px; border-radius:10px; ">
          <div class="player">
            <div id="box-1">
              <div class="preview border border-secondary border-3 " style="padding:10px 15px; border-radius: 15px;">

              </div>
            </div>
          </div>
          <!-- <div id="box-2">
              <div class="border border-secondary dashed border-3 " style="padding:10px 15px; border-radius: 15px;">
                <video id="video2" width="400px" height="350" controls>
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div id="box-3">
              <div class="border border-secondary border-3 " style="padding:10px 15px; border-radius: 20px;">
                <video id="video3" width="400px" height="350" controls>
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
          <div id="uploadbox2">
            <div id="box-4">
              <div class="border border-secondary border-3 " style="padding:25px 15px; border-radius: 20px;">
                <video id="video4" width="400px" height="350" controls>
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div id="box-5">
              <div class="border border-secondary border-3 " style="padding:25px 15px; border-radius: 20px;">
                <video id="video5" width="400px" height="350" controls>
                  Your browser does not support the video tag.
                </video>
              </div>
            </div> -->
          <!-- </div>
          <div> -->

          <!-- <div id="bar" class="border border-secondary border-3 " style="padding:25px 15px; border-radius: 20px; width: 70%;">
        <button id="play" type="button" class="btn btn-primary border-2 " >play</button>
        <button id="stop" type="button" class="btn btn-primary border-2 " >stop</button>
        <button id="sync" type="button" class="btn btn-primary border-2 " >sync</button>
    </div> -->
          <label id="title" for="title">Title:</label><br>
          <input id="titlebox" type="text" id="title" name="title"><br>
          <label id="desc" for="Description">Description:</label><br>
          <input id="descbox" type="text" id="Description" name="Description">
        </div>
        <div>
          <button id="submitbutton" type="submit" class="btn btn-outline-primary border-4 ">Upload</button>
        </div>
    </div>
    </form>
    <script>
      var matchinfo = {
        match_id: "<%=match.id%>"
      }

    </script>

    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

    <script src="/jquery/jquery.min.js"></script>
    <!-- // the following files only need to be included in order to support client-side uploading -->
    <script src="/blueimp-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="/blueimp-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="/blueimp-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
    <script src="/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/upload.js"></script>
</body>

</html>
