@import 'variables/variables.scss';
nav{
  background-color: $black;
  height: 4.5em;
  position: fixed;
  .logo {
    width: auto;
    height: 4.5em;
  }
}
.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}
#uploadBtn{
  margin-left: 10px;
}
.nav-link{
  color: white !important;
}
.search{
  margin-left: 70px;
  width: 600px !important;
}


.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 180px !important;
  text-align: left;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 180px !important;
  

}

/* Links inside the dropdown */
.dropdown-content a {
  color: white ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn  {
  background-color: gray;
}

.logoutBtn {
  background-color: grey;
  width:100%;
  border: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.logoutBtn:hover {
  background-color: white;
  color:black;
}
