  /* The navigation bar DropDown -------------------------------------------------- */
  /* Style The Dropdown Button */
  .dropbtn {
    background-color: #212529;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: gray;
  }

  /* Main content------------------------------------------------------------- */
  .main {
    margin-left: 3%;
    padding: 2%;
    color: #fff;
  }

  body {
    background: #212529 !important;
    font-family: 'Josefin Sans', sans-serif !important;
  }
        
        
  .title {
    color: white
  }